@{
    ViewBag.Title = "Trang chủ";
}


<div class="row">

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/images/c1.jpg" >
               
            </div>
        </div>

  
      
    </div>

